<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <!-- on met les - echapper les caractère spéciaux -->
    <%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, magni aspernatur porro harum magnam iusto accusantium! Natus sed aperiam voluptatibus eaque rem, eum officiis tempore molestiae, ducimus ab dolorem sint?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, magni aspernatur porro harum magnam iusto accusantium! Natus sed aperiam voluptatibus eaque rem, eum officiis tempore molestiae, ducimus ab dolorem sint?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, magni aspernatur porro harum magnam iusto accusantium! Natus sed aperiam voluptatibus eaque rem, eum officiis tempore molestiae, ducimus ab dolorem sint?</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>